#addFlight {
	position:relative;
	margin:5%;
	/*top: 30px;*/
	font-family: 'Open Sans', sans-serif;
	/*height: 100%*/
}

#addFlight h1{
	color: #00246B;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #FFFFFF;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.custom-combobox {
    position: relative;
    display: inline-block;
 }
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    height: 2.075em;
    margin-top: 1px
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;    f
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    width: 300px;
    color: #0073ea;
    font-weight: bold;
}

.addFlight form p label  {
    display:block;
    float:left;
    width:150px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #777;

}