<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="left-menu">
	<div class="menu">
		<!-- Menu icon -->
		<div class="icon-close"> <i class="fa fa-close"></i> <a>CLOSE</a></div>
		<!-- Menu -->
		<ul>
			<li><a href="flightsMap">Flights Map</a></li>
			<li><a href="placesMap">Places Map</a></li>
			<li><a href="statistics">Statistics</a></li>
			<li><a href="addFlight">Add a flight</a></li>
			<li><a href="#">Guinness Wall</a></li>
			<li><a href="#">Account</a></li>
			<li><a href="#">Admin</a></li>
			<li class="logout"><a href="javascript:logout()">Logout</a></li>
		</ul>
	</div>
	<form th:action="@{/logout}" method="post" style="display:none" id="logoutForm">
	</form>
</div>


</body>

</html>

